{
  "parserOptions": { "project": "tsconfig.json" },
  "extends": ["next"],
  "overrides": [
    {
      "files": ["**/routers/**"],
      "rules": {
        "prettier/prettier": "off"
      }
    }
  ]
}
