# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @KATT

**/package.json @kodiakhq @dependabot-bot
**/yarn.lock @kodiakhq @dependabot-bot


**/*fastify* @skarab42
