{
  "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
  "plugins": ["no-only-tests", "unicorn"],
  "extends": [
    "plugin:@typescript-eslint/recommended", // Uses the recommended rules from the @typescript-eslint/eslint-plugin
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module", // Allows for the use of import
    "project": "./tsconfig.eslint.json" // Allows for the use of rules which require parserServices to be generated
  },
  "rules": {
    // Place to specify ESLint rules. Can be used to overwrite rules specified from the extended configs
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-floating-promises": "error",
    "no-only-tests/no-only-tests": "error",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "unicorn/filename-case": [
      "error",
      {
        "case": "camelCase",
        "ignore": [
          "TRPC",
          "RPC",
          "HTTP",
          "\\.config\\.js",
          "\\.d\\.ts$",
          "issue-\\d+-.*\\.test\\.tsx?$",
          "\\.(t|j)sx$"
        ]
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "typeParameter",
        "format": ["PascalCase"],
        "leadingUnderscore": "allow",
        "custom": {
          "regex": "^(\\$|T)[A-Z][a-zA-Z]+[0-9]*$",
          "match": true
        }
      }
    ]
  },
  "overrides": [
    {
      "files": ["examples/**/*"],
      "rules": {
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/no-floating-promises": "off"
      }
    },
    {
      "files": ["**/test/**/*", "**/*.test.tsx", "**/*.test.ts"],
      "rules": {
        "@typescript-eslint/no-floating-promises": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/naming-convention": "off"
      }
    },
    {
      "files": ["packages/**/*"],
      "rules": {
        "no-console": "error"
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
