*.log
.DS_Store
dist
.next
.turbo
.vercel
next-env.d.ts

node_modules
package-lock.json
yarn.lock

.yalc
yalc.lock

coverage/
__generated__

*.tsbuildinfo

# Barrel files
## Ignore all folders
packages/*/*
## Dont ignore files
!packages/*/*.*
## Dont ignore src or test
!packages/*/src
!packages/tests/*
packages/tests/node_modules

!packages/cli/test-app

examples/next-big-router/src/server/routers

playwright
