*.log
.DS_Store
dist/
.next/
.turbo/
.vercel/
.eslintcache
*.tsbuildinfo

node_modules/
package-lock.json
yarn.lock
.yalc
yalc.lock

coverage/
playwright/
__generated__/


# Ignore all folders except `src/` in every published package
packages/*/*/
!packages/*/src/
# and all folders inside `tests` package, which is handled separately
!packages/tests/*/
packages/tests/node_modules

examples/next-big-router/src/server/routers
