public-hoist-pattern[]=@types/*
public-hoist-pattern[]=playwright-core
public-hoist-pattern[]=zod
side-effects-cache=false
strict-peer-dependencies=false

save-workspace-protocol=false
prefer-workspace-packages=true