__generated__/
.docusaurus/
**/.next/
**/www/build/
**/www/typedoc/
dist/
examples/next-big-router/src/server/routers/*.ts
examples/.test/diagnostics-big-router/**/*
packages/tests/vendor/
packages/server/src/vendor/
packages/coverage/
pnpm-lock.yaml
www/docs/main/quickstart.mdx
.turbo
.vinxi
.output
www/docs/typedoc