@tailwind base;
@tailwind components;
@tailwind utilities;

/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #398ccb;
  --ifm-color-primary-dark: #317eb9;
  --ifm-color-primary-darker: #2e77af;
  --ifm-color-primary-darkest: #266290;
  --ifm-color-primary-light: #4e98d0;
  --ifm-color-primary-lighter: #589ed3;
  --ifm-color-primary-lightest: #77b0db;
  --ifm-code-font-size: 95%;
  --ifm-container-width: 1140px;
  --ifm-container-width-xl: 1320px;
  --ifm-navbar-shadow: none;
}
:root[data-theme='dark'] {
  --ifm-footer-background-color: #171717;
  --ifm-navbar-background-color: #111111;
  --ifm-background-color: #111111;
}

html {
  @apply selection:text-white selection:bg-sky-500/75 scroll-smooth;
}

.navbar {
  border-bottom: 1px solid var(--ifm-toc-border-color);
}
.homepage .navbar__inner {
  @apply container;
}

.homepage .main-wrapper {
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, #fff 300px),
    fixed 0 0 /20px 20px radial-gradient(#d1d1d1 1px, transparent 0),
    fixed 10px 10px /20px 20px radial-gradient(#d1d1d1 1px, transparent 0);
}

[data-theme='dark'] .homepage .main-wrapper {
  background: linear-gradient(180deg, transparent 0, #111 300px),
    fixed 0 0 /20px 20px radial-gradient(#313131 1px, transparent 0),
    fixed 10px 10px /20px 20px radial-gradient(#313131 1px, transparent 0);
}

.navbar-external-link svg {
  display: none;
}

.markdown a {
  @apply text-primary hover:text-primary-dark;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

a {
  color: var(--ifm-link-color);
  text-decoration: var(--ifm-link-decoration);
}
/**
 * Initialiazing a `footnotes` counter on the wrapper
 */
article {
  counter-reset: footnotes;
}

/**
 * Inline footnotes references
 * 1. Increment the counter at each new reference
 * 2. Reset link styles to make it appear like regular text
 */
[aria-describedby='footnote-label'] {
  counter-increment: footnotes; /* 1 */
  text-decoration: none; /* 2 */
  color: inherit; /* 2 */
  cursor: default; /* 2 */
  outline: none; /* 2 */
}

/**
 * Actual numbered references
 * 1. Display the current state of the counter (e.g. `[1]`)
 * 2. Align text as superscript
 * 3. Make the number smaller (since it's superscript)
 * 4. Slightly offset the number from the text
 * 5. Reset link styles on the number to show it's usable
 */
[aria-describedby='footnote-label']::after {
  content: '[' counter(footnotes) ']'; /* 1 */
  vertical-align: super; /* 2 */
  font-size: 0.5em; /* 3 */
  margin-left: 2px; /* 4 */
  color: blue; /* 5 */
  text-decoration: underline; /* 5 */
  cursor: pointer; /* 5 */
}

/**
 * Resetting the default focused styles on the number
 */
[aria-describedby='footnote-label']:focus::after {
  outline: thin dotted;
  outline-offset: 2px;
}

[aria-label='Back to content'] {
  font-size: 0.8em;
}

.footnotes {
  font-size: 0.9em;
  max-width: 605px;
  margin: auto;
  padding: 10px 0px 60px 0px;
}

/**
 * Highlight target note
 */
.footnotes :target {
  background: yellow;
}

.docs-wrapper main > .container > .row {
  justify-content: center;
}
.docs-wrapper main > .container > .row > .col:first-child {
  /* max-width: 650px !important; */
}
@media only screen and (min-width: 997px) {
  .docs-wrapper main > .container > .row > .col:first-child {
    /* max-width: min(75%, 650px) !important; */
  }
}

@media only screen and (min-width: 1496px) {
  .docs-wrapper main > .container > .row > .col:first-child {
    /* max-width: min(75%, 850px) !important; */
  }
}

.theme-doc-markdown.markdown table {
  display: table;
  /* width: 100%; */
}

.theme-edit-this-page {
  @apply text-primary hover:text-primary-dark;
}

.navbar-external-link,
.theme-edit-this-page {
  @apply items-center hidden xl:flex;
}
.footer__item {
  @apply h-8;
}

.container {
  @apply w-full max-w-[var(--ifm-container-width-xl)] mx-auto;
}

.markdown h1,
h2,
h3,
h4,
h5 {
  @apply mb-1 font-bold leading-normal;
}

.markdown h1 {
  @apply text-5xl;
}

.markdown h2 {
  @apply text-[2rem];
}

.markdown h3 {
  @apply text-2xl;
}

.markdown h4 {
  @apply text-xl;
}

.markdown h5 {
  @apply text-lg;
}

.markdown ul {
  @apply pl-8 list-disc;
}

.markdown blockquote {
  margin: 0 0 var(--ifm-spacing-vertical);
}

.pagination-nav__label {
  @apply text-primary;
}

.admonition-heading h5 {
  @apply flex items-center text-lg;
}

.theme-admonition a {
  @apply font-semibold;
}

/**
 * Disable underline for some links
 **/
#tweet,
#sponsor-button {
  --ifm-link-hover-decoration: none;
}

/* https://github.com/shikijs/twoslash/tree/main/packages/docusaurus-preset-shiki-twoslash */
[data-theme='light'] .shiki.nord {
  display: none;
}

[data-theme='dark'] .shiki.min-light-with-diff {
  display: none;
}

.markdown ul {
  @apply list-disc list-inside;
}

.markdown ol {
  @apply list-decimal list-inside;
}

/** Hide noisy shiki stuff */

.shiki data-lsp {
  border-bottom: 0 !important;
}

.shiki data-lsp::before {
  display: none;
}

.theme-doc-version-badge {
  margin-bottom: 1rem;
}

/* Hide announcement bar for v9 */
html:not(.v10) [role='banner'] {
  display: none !important;
}

/* Toggle different gifs depending on version */
.trpcgif {
  display: none;
}

html.v10 .trpcgif--v10.trpcgif--portrait {
  @apply block md:hidden;
}

html.v10 .trpcgif--v10.trpcgif--landscape {
  @apply hidden md:block;
}

html.v9 .trpcgif--v9 {
  display: block;
}

/* Breadcrumbs */
.breadcrumbs {
  @apply flex items-center;
}

.breadcrumbs__item {
  @apply flex items-center;
}
